@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
    box-shadow: 0 0 10px white;
  }
  50% {
    opacity: 0.3;
    box-shadow: 0 0 20px white;
  }
}

.star {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  animation:
    fadeIn 3s ease-in,
    twinkle 5s infinite ease-in-out;
}
.new-message {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: yellow;
  animation:
    fadeIn 3s ease-in,
    twinkle 5s infinite ease-in-out;
}

.link-style {
  color: #00a3ff; /* 파란색 텍스트 */
  text-decoration: underline; /* 밑줄 추가 */
  cursor: pointer; /* 마우스 오버 시 포인터 커서 표시 */
}

.message-content {
  white-space: pre-wrap;
}

.special-size img {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

/* 기본 스타일 (가장 작은 화면) */
.special-size img {
  height: 180px; /* 예시: 작은 화면에서의 높이 */
  object-fit: cover;
}

@media (min-width: 400px) {
  .special-size img {
    height: 213px; /* 예시: 중간 화면에서의 높이 */
  }
}

@media (min-width: 500px) {
  .special-size img {
    height: 275px; /* 예시: 중간 화면에서의 높이 */
  }
}

/* 중간 크기 화면 */
@media (min-width: 768px) {
  .special-size img {
    height: 200px; /* 예시: 중간 화면에서의 높이 */
  }
}

/* 중간과 큰 크기 사이 화면 */
@media (min-width: 800px) {
  .special-size img {
    height: 213px; /* 예시: 중간 화면에서의 높이 */
  }
}

/* 중간과 큰 크기 사이 화면 */
@media (min-width: 900px) {
  .special-size img {
    height: 220px; /* 예시: 중간 화면에서의 높이 */
  }
}

/* 중간과 큰 크기 사이 화면 */
@media (min-width: 1000px) {
  .special-size img {
    height: 176px; /* 예시: 중간 화면에서의 높이 */
  }
}

/* 중간과 큰 크기 사이 화면 */
@media (min-width: 1200px) {
  .special-size img {
    height: 222px; /* 예시: 중간 화면에서의 높이 */
  }
}

/* 중간과 큰 크기 사이 화면 */
@media (min-width: 1500px) {
  .special-size img {
    height: 263px; /* 예시: 중간 화면에서의 높이 */
  }
}

/* 큰 화면 */
@media (min-width: 1900px) {
  .special-size img {
    height: 300px; /* 가장 큰 화면에서의 높이 */
  }
}
