@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #000000;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.ttf');
}

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSJiptokki-Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}
